@using NDWebApp.Areas.Identity.Data
@model IEnumerable<NDWebAppUser>
@{
    ViewBag.Title = "Brukere";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Add" class="btn btn-secondary">Legg til bruker</a>
<div class="alert alert-danger" role="alert">
    <b>Delete:</b> Har ingen warning/bekreftelse<br />
    <b>Create:</b> Mangler team felt<br />
    <b>Reset password:</b> Trenger bekreftelse på passord / bytte<br />
</div>
<br />
<div class="alert alert-danger" role="alert">
    <b>To be:</b> Alert når en bruker er slettet
</div>
<table>
    <tr>
        <th>Ansattnummer</th>
        <th>Fornavn</th>
        <th>Etternavn</th>
        <th>Brukernavn</th>
        <th>E-post</th>
        <th>Tlf.nr.</th>
        <th>Se på</th>
        <th>Endre</th>
        <th>Resett passord</th>
        <th>Slett</th>
    </tr>
    @foreach (NDWebAppUser user in Model)
    {
        <tr>
            <td>@user.empNr</td>
            <td>@user.empFname</td>
            <td>@user.empLname</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="View" asp-route-id="@user.Id">
                    Se på
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">
                    Endre
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="ResetPassword" asp-route-id="@user.Id">
                    Resett passord
                </a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Slett
                    </button>
                </form>
            </td>
        </tr>   
    }
</table>
   