@using NDWebApp.Areas.Identity.Data
@model IEnumerable<NDWebAppUser>
@{
    ViewBag.Title = "Brukere";
}

<h1>@ViewData["Title"]</h1>
@if (User.IsInRole("Administrator"))
{
    @if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Success")
    {
        <div class="alert alert-success" role="alert">
            <i class="fas fa-circle-exclamation"></i> @TempData["Message"]
        </div>
        <br />
    }
    else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Danger")
    {
        <div class="alert alert-danger" role="alert">
            <i class="fas fa-triangle-exclamation"></i> @TempData["Message"]
        </div>
        <br />
    }
    else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Warning")
    {
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-triangle-exclamation"></i> @TempData["Message"]
        </div>
        <br />
    }
    <a asp-action="Add" class="btn btn-primary"><i class="fas fa-circle-plus"></i> Legg til bruker</a>
    <br />
    
}

<table class="table">
    @if (User.IsInRole("Administrator"))
    {
        <tr>
            <th scope="col">Ansattnr.</th>
            <th scope="col">Fornavn</th>
            <th scope="col">Etternavn</th>
            <th scope="col">E-post</th>
            <th scope="col">Tlf.nr.</th>
            <th scope="col"></th>
        </tr>
    } else {
        <tr>
            <th scope="col">Ansattnr.</th>
            <th scope="col">Fornavn</th>
            <th scope="col">Etternavn</th>
            <th scope="col">E-post</th>
            <th scope="col">Tlf.nr.</th>
            <th scope="col"></th>
        </tr>
    }
    @foreach (NDWebAppUser user in Model)
    {
        if (User.IsInRole("Administrator")) {
            <tr>
                <td scope="row">@user.empNr</td>
                <td>@user.empFname</td>
                <td>@user.empLname</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                        <a class="btn btn-sm btn-primary" asp-action="View" asp-route-id="@user.Id">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="btn btn-sm btn-success" asp-action="Update" asp-route-id="@user.Id">
                            <i class="fas fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-sm btn-warning" asp-action="ResetPassword" asp-route-id="@user.Id">
                             <i class="fas fa-key"></i>
                        </a>
                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-@user.Id">
                            <i class="fas fa-trash-can"></i>
                        </button>
                </td>
            </tr>
        } else {
            <tr>
                <td scope="row">@user.empNr</td>
            <td>@user.empFname</td>
            <td>@user.empLname</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="View" asp-route-id="@user.Id">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
        </tr>
        }    
    }
</table>

@if (User.IsInRole("Administrator"))
{
    foreach (NDWebAppUser user in Model)
    {
        <div class="modal fade" id="confirm-delete-@user.Id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <b>Bekreft sletting av bruker</b>
                    </div>
                    <div class="modal-body">
                        Er du sikker på at du ønsker å slette <b>"@user.Email" (@user.empFname @user.empLname)</b> permanent?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-xmark"></i> Cancel</button>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-ok">
                                <i class="fas fa-trash-can"></i> Bekreft sletting
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}

   