@model UserModel
@{
    ViewData["Title"] = "Søk etter bruker";
}

<h1>@ViewData["Title"]</h1>
<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="search">Søk etter ansatt (fritekst):</label>
        <input asp-for="search" class="form-control" aria-required="true" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-magnifying-glass"></i> Søk</button>
</form>
<hr />
@if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Success")
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
    <br />
}
else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Danger")
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
    <br />
}
else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Warning")
{
    <div class="alert alert-warning" role="alert">
        @TempData["Message"]
    </div>
    <br />
}

@if (Model.Users != null)
{
<table class="table">
    <tr>
        <th scope="col">Navn:</th>
        <th scope="col">Epost:</th>
        <th scope="col">Tlf.nr.:</th>
        <th scope="col">Team:</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.empFname @user.empLname</td>
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>@user.TeamName</td>
        </tr>
    }
</table>
}
