@using NDWebApp.Areas.Identity.Data
@model UserModel
@{
    ViewBag.Title = "Bruker";
}
<h1>@ViewData["Title"]:</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div class="row">
    <div class="col-md-6 justify-content-center">
        <div class="form-group">          
            <u>System Id:</u>
            <p>@Model.Id</p>
        </div>
        <div class="form-group">
            <u>Fornavn:</u>
            <p>@Model.empFname</p>
        </div>
        <div class="form-group">
            <u>Etternavn:</u>
            <p>@Model.empLname</p>
        </div>
        <div class="form-group">
            <u>Team:</u>
            <p><a asp-controller="Teams" asp-action="View" asp-route-id="@Model.teamId">@Model.teamName</a></p>
        </div>
    </div>
    <div class="col-md-6 justify-content-center">
        <div class="form-group">
            <u>Ansattnummer:</u>
            <p>@Model.empNr</p>
        </div>
        <div class="form-group">
            <u>E-post:</u>
            <p><a href="mailto:@Model.Email">@Model.Email</a></p>
        </div>
        <div class="form-group">
            <u>Telefonnummer:</u>
            <p>@Model.Phone</p>
        </div>
    </div>
</div>

<h2>Innsendte forslag:</h2>


<h2>Innsendte reparasjoner:</h2>