@using Microsoft.AspNetCore.Identity
@using NDWebApp.Areas.Identity.Data
@inject UserManager<NDWebAppUser> UserManager
@model RepairsModel

@{
    ViewBag.Title = "Reparasjon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <br />
        @if (User.IsInRole("Administrator"))
        {
            <a asp-action="Index" class="btn btn-sm btn-secondary"> <i class="fa-solid fa-circle-chevron-left"></i> Tilbake</a>
            <a class="btn btn-sm btn-success" asp-action="Update" asp-route-id="@Model.RepairId"> <i class="fas fa-pen-to-square"></i> Endre</a>
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-@Model.RepairId"> <i class="fas fa-trash-can"></i>
                Slett
            </button>
        }
        else
        {
            <a asp-action="Index" class="btn btn-sm btn-secondary"> <i class="fa-solid fa-circle-chevron-left"></i> Tilbake</a>
        }
        <h1>Reparasjon</h1>
        <h2>"@Model.RepairTitle"</h2>
        @if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Success")
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
            <br />
        }
        else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Danger")
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Message"]
            </div>
            <br />
        }
        else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Warning")
        {
            <div class="alert alert-warning" role="alert">
                @TempData["Message"]
            </div>
            <br />
        }
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <u>Sendt inn av:</u>
        <p>@Model.UserFirstname @Model.UserLastname</p>
    </div>

    <div class="col-md-4">
        <u>Innsenders team:</u>
        <p>@Model.TeamName</p>
    </div>

    <div class="col-md-4">

    </div>


</div>

<div class="row">
    <div class="col-md-4">
        <u>Status:</u>
        @if (User.IsInRole("Administrator") || UserManager.GetUserAsync(User).Result.Id == Model.UserId) {
            <div class="row">
                <div class="col-md-6">
                    <p>@Model.StatusName</p>
                </div>
                <div class="col-md-6">
                    <p><a class="btn btn-sm btn-success" data-toggle="modal" data-target="#edit-status-@Model.RepairId"> <i class="fa-solid fa-gears"></i> Endre status</a></p>
                </div>
            </div>
        } else {
            <p>@Model.StatusName</p>
        }           
    </div>

    <div class="col-md-4">
        <u>Deadline:</u>
        <p>@Model.RepairDeadline</p>
    </div>

    <div class="col-md-4">
        @if (Model.RepairEnddate == new DateTime(0001, 01, 01, 0, 0, 0))
        {
            <p></p>
        }
        else
        {
            <u>Fullført:</u>
            <p>@Model.RepairEnddate</p>
        }

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.StatusId == 2)
        {
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Reparasjon er avbrutt</div>
            </div>
        }
        else if (Model.StatusId == 3)
        {
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Reparasjon gjennomføres</div>
            </div>
        }
        else if (Model.StatusId == 4)
        {
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Reparasjon er satt på pause</div>
            </div>
        }
        else if (Model.StatusId == 5)
        {
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Reparasjon er ferdig utført</div>
            </div>
        }
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <u>Beskrivelse:</u>
        <p>
            @Model.RepairDescription
        </p>
    </div>
</div>

@if (User.IsInRole("Administrator"))
{
<div class="modal fade" id="confirm-delete-@Model.RepairId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b>Bekreft sletting av reparasjon</b>
            </div>
            <div class="modal-body">
                    Er du sikker på at du ønsker å slette reparasjon <b>"@Model.RepairTitle"</b>, innsendt av @Model.UserFirstname @Model.UserLastname?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form asp-action="Delete" asp-route-id="@Model.RepairId" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger btn-ok">
                        Bekreft sletting
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
} 

@if (User.IsInRole("Administrator") || User.IsInRole("Team Leader"))
{
    <div class="modal fade" id="edit-status-@Model.RepairId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b>Endre status på reparasjon</b>
                </div>
                <div class="modal-body">
                    Vennligst velg en status:

                    <form asp-action="UpdateStatus" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input asp-for="RepairId" class="form-control" value="@Model.RepairId" hidden />
                        </div>

                        <div class="form-group">
                            <label asp-for="StatusId">Status:</label>
                            <select asp-for="StatusId" class="form-control">
                                <option value="2">Avbrutt</option>
                                <option value="3">Gjennomføres</option>
                                <option value="4">På pause</option>
                                <option value="5">Ferdig</option>
                            </select>
                        </div>
                        <br>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn btn-success btn-ok">Lagre</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}