@model TeamModel

@{
    ViewBag.Title = "Legg til team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<a asp-action="Index" class="btn btn-secondary"> <i class="fa-solid fa-circle-chevron-left"></i> Tilbake</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="TeamName">Teamnavn:</label>
        <input asp-for="TeamName" class="form-control" aria-required="true" />
    </div>
    <div class="form-group">
        <label asp-for="LeaderUserId">Bruker ID for teamleder:</label>
        <select asp-for="LeaderUserId" class="form-control">
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.empFname @user.empLname</option>
            }
        </select>
    </div>

    <br>
    
    <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-users"></i> Opprett team</button>
</form>