@model NDWebApp.Models.TeamModel
@using NDWebApp.Areas.Identity.Data
@{
    ViewBag.Title = "Teams";
}
<h1>@ViewData["Title"]</h1>
@if (User.IsInRole("Administrator"))
{
    @if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Success")
    {
        <div class="alert alert-success" role="alert">
        @TempData["Message"]
        </div>
        <br />
    }
    else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Danger")
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
        <br />
    }
    else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Warning")
    {
        <div class="alert alert-warning" role="alert">
            @TempData["Message"]
        </div>
        <br />
    }
    <a asp-action="Add" class="btn btn-primary"> <i class="fa-solid fa-users"></i> Legg til team</a>
    <br />
    
}

<table class="table">
    <tr>
        @if (User.IsInRole("Administrator"))
        {
            <th scope="col">Team ID</th>
            <th scope="col">Team Navn</th>
            <th scope="col">Team Leader</th>
            <th scope="col">Ant. medlemmer</th>
            <th scope="col"></th>
        } else {
            <th scope="col">Team ID</th>
            <th scope="col">Team Navn</th>
            <th scope="col">Team Leader</th>
            <th scope="col">Ant. medlemmer</th>
            <th scope="col"></th>
        }
    </tr>
@if (User.IsInRole("Administrator"))
{
    @foreach (var team in Model.Teams)
    {
        <tr>
            <td scope="row">@team.TeamId</td>
            <td>@team.TeamName</td>
            <td>@team.empFname @team.empLname</td>
            <td>@team.TeamMemberAmount</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="View" asp-route-id="@team.TeamId"> <i class="fas fa-eye"></i>
                    Se på
                </a>
                <a class="btn btn-sm btn-success" asp-action="Update" asp-route-id="@team.TeamId"> <i class="fas fa-pen-to-square"></i>
                    Endre
                </a>
                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-@team.TeamId"> <i class="fas fa-trash-can"></i>
                    Slett
                </button>
            </td>
        </tr>
    }
}
else
{
    @foreach (var team in Model.Teams)
    {
        <tr>
            <td scope="row">@team.TeamId</td>
            <td>@team.TeamName</td>
            <td>@team.empFname @team.empLname</td>
                <td>@team.TeamMemberAmount</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="View" asp-route-id="@team.TeamId">
                    Se på
                </a>
            </td>
        </tr>
    }
}
</table>

@if (User.IsInRole("Administrator"))
{
    foreach (var team in Model.Teams)
    {
        <div class="modal fade" id="confirm-delete-@team.TeamId" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <b>Bekreft sletting av team</b>
                    </div>
                    <div class="modal-body">
                        Er du sikker på at du ønsker å slette team <b>"@team.TeamName" (@team.TeamId)</b> permanent?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <form asp-action="Delete" asp-route-id="@team.TeamId" method="post">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger btn-ok">
                                Bekreft sletting
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
} 

   