@model TeamModel

@{
    ViewBag.Title = "Oppdater team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<a asp-action="Index" class="btn btn-secondary">Tilbake</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input asp-for="TeamId" class="form-control" value="@Model.TeamId" hidden/>
    </div>

    <div class="form-group">
        <label asp-for="TeamName">Teamnavn</label>
        <input asp-for="TeamName" class="form-control" value="@Model.TeamName"/>
    </div>

    <div class="form-group">
        <label asp-for="LeaderUserId">Bruker ID for teamleder:</label>
        <select asp-for="LeaderUserId" class="form-control">
            
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.empFname @user.empLname</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Lagre</button>
</form>