@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Team</h1>
            <a asp-action="Index" class="btn btn-secondary">Tilbake</a>
            <h2><b>@Model.TeamName</b></h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <b>Teamleder:</b>
            <p>@Model.LeaderFirstname @Model.LeaderLastname</p>
        </div>

        <div class="col-md-4">
            <b>Antall medlemmer:</b>
            <p>@Model.TeamMemberAmount</p>
        </div>

        <div class="col-md-4">
            @if (User.IsInRole("Administrator"))
            {
                <b>Team ID:</b>
                <p>@Model.TeamId</p>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <b>Medlemmer:</b>
            <p>
                @foreach (var member in Model.TeamMembers)
                {
                    if (Model.LeaderUserId == member.UserId)
                    {
                        <span>@member.empFname @member.empLname <i>(Teamleder)</i></span><br />
                    } else {
                        <span>@member.empFname @member.empLname</span><br />
                    } 
                }
            </p>
        </div>
    </div>
</div>
