@using Microsoft.AspNetCore.Identity
@using NDWebApp.Areas.Identity.Data

@inject SignInManager<NDWebAppUser> SignInManager
@inject UserManager<NDWebAppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link reL="shortcut icon" href="../assets/img/favicon.png" type="image/ico">

    <title>@ViewData["Title"] - Nordic Door</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true">
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Nunito|Lato|Open+Sans|Raleway|Roboto" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link href="~/css/fontawesome.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/brands.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/solid.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 menu mobileHide">
                <div class="logged-in-as">
                
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (!string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result.empFname) && !string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result.empLname)) {
                            <i class="fa-solid fa-user"></i> <p>Hei, @UserManager.GetUserAsync(User).Result.empFname @UserManager.GetUserAsync(User).Result.empLname! </p>
                        } else {
                           <i class="fa-solid fa-user-gear"></i> <p>Hei, @UserManager.GetUserName(User)! </p>
                        }
                    } else {
                        <p>not logged in</p>
                    }

                    
                    
                    <!--Logged in as USER<br>
                    Last activity: timestamp-->
                </div>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><div class="btn"><i class="fas fa-house"></i>Hjem</div></a>
                <a class="nav-link" asp-area="" asp-controller="Teams" asp-action="Index"><div class="btn"><i class="fas fa-users"></i>Teams</div></a>
                <a class="nav-link" asp-area="" asp-controller="Repairs" asp-action="Index"><div class="btn"><i class="fas fa-wrench"></i>Reparasjoner</div></a>
                <a class="nav-link" asp-area="" asp-controller="Suggestions" asp-action="Index"><div class="btn"><i class="fas fa-lightbulb"></i>Forslag</div></a>
                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Search"><div class="btn"><i class="fas fa-magnifying-glass"></i>Brukersøk</div></a>
                @if (User.IsInRole("Administrator"))
                {
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index"><div class="btn"><i class="fas fa-user"></i>Min konto</div></a>
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index"><div class="btn"><i class="fas fa-box-archive"></i>Brukerliste</div></a>
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index"><div class="btn"><i class="fas fa-gears"></i>Admin</div></a>
                }
                else if (User.IsInRole("Team Leader"))
                {
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index"><div class="btn"><i class="fas fa-user"></i>Min konto</div></a>
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index"><div class="btn"><i class="fas fa-box-archive"></i>Brukerliste</div></a>
                }
                else
                {
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index"><div class="btn"><i class="fas fa-user"></i>Min konto</div></a>
                }
                <div class="menu"><img src="~/img/logo.svg"></div>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })"><div class="btn"><i class="fas fa-right-from-bracket"></i><b>Logg ut</b></div></a>
            </div>

            <div class="col-lg-2 menu mobileShow" style="height: auto;">
                <nav class="navbar navbar-light">
                    <p class="logged-in-as">
                        Logged in as USER'<br>
                        Last activity: TIMESTAMP
                    </p>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarMain">
                        <ul class="navbar-nav mr-auto">
                            ';
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Hjem</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Repairs" asp-action="Index">Reparasjoner</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Suggestions" asp-action="Index">Forslag</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">Min konto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Logout" asp-action="Index">Logg ut</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="content col-lg-8">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 infoText">
                        <!-- content here -->
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
