@model NDWebApp.Models.SuggestionModel
@{
    ViewBag.Title = "Forslag";
}

<h1>@ViewData["Title"]</h1>
@if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Success")
{
    <div class="alert alert-success" role="alert">
    @TempData["Message"]
    </div>
    <br />
}
else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Danger")
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
    <br />
}
else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Warning")
{
    <div class="alert alert-warning" role="alert">
        @TempData["Message"]
    </div>
    <br />
}

<a asp-action="Add" class="btn btn-secondary">Send inn nytt forslag</a>

<table class="table">
    <tr>
        <th scope="col">Tittel</th>
        <th scope="col">Innsendt av</th>
        <th scope="col">Ansvarlig bruker</th>
        <th scope="col">Deadline</th>
        <th scope="col"></th>
    </tr>
@foreach (var suggestion in Model.Suggestions)
{
    <tr>
        <td scope="row">@suggestion.SuggestionTitle</td>
        <td>@suggestion.SuggestedFirstname @suggestion.SuggestedLastname</td>
        <td>@suggestion.ResponsibleFirstname @suggestion.ResponsibleLastname</td>
        <td>@suggestion.SuggestionDeadline</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="View" asp-route-id="@suggestion.SuggestionId">
                Se på
            </a>
            @if (User.IsInRole("Administrator"))
            {
            <a class="btn btn-sm btn-success" asp-action="Update" asp-route-id="@suggestion.SuggestionId">
                Endre
            </a>
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-@suggestion.SuggestionId">
                Slett
            </button>
            }
        </td>
    </tr>
}
</table>

@if (User.IsInRole("Administrator"))
{
    foreach (var suggestion in Model.Suggestions)
    {
                <div class="modal fade" id="confirm-delete-@suggestion.SuggestionId" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <b>Bekreft sletting av forslag</b>
                            </div>
                            <div class="modal-body">
                                Er du sikker på at du ønsker å slette forslag <b>"@suggestion.SuggestionTitle"</b>, innsendt av @suggestion.SuggestedFirstname @suggestion.SuggestedLastname?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <form asp-action="Delete" asp-route-id="@suggestion.SuggestionId" method="post">
                            @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-ok">
                                        Bekreft sletting
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    }
} 