@model NDWebApp.Models.SuggestionModel

{
    ViewBag.Title = "Forslag";
}

<ul>
    @foreach (var suggestion in Model.Suggestions)
    {
        <li>
            Id: @suggestion.SuggestionId , Tittel: @suggestion.SuggestionTitle , Beskrivelse: @suggestion.SuggestionDescription , Frist: @suggestion.SuggestionDeadline ,  @suggestion.SuggestionEnddate
        </li>
    }
</ul>

<link rel="stylesheet" href="~/css/table.css" asp-append-version="true">

    <h1 class="h1">Forslag</h1>

    <div class="outer-wrapper">
    <div class="table-wrapper">
    <table>
        <thead>
            <th>ID</th>
            <th>Tittel</th>
            <th>Beskr.</th>
            <th>Deadline</th>
            <th>Sendt inn av</th>
            <th>Ansvarlig</th>
            <th>Team ID</th>
        </thead>
        <tbody>
            @foreach (var suggestion in Model.Suggestions)
            {
                <tr>
                    <td>@suggestion.SuggestionId</td>
                    <td>@suggestion.SuggestionTitle</td>
                    <td>@suggestion.SuggestionDescription</td>
                    <td>@suggestion.SuggestionDeadline</td>
                    <td>@suggestion.SuggestedUserId</td>
                    <td>@suggestion.ResponsibleUserId</td>
                    <td>@suggestion.TeamId</td>
                    <td><a asp-controller="Suggestions" asp-action="Detailed">Se detajler</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>
<a asp-controller="Suggestions" asp-action="Add" class="button">Legg til nytt forslag</a>