@model SuggestionModel
@{
    ViewBag.Title = "Forslag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <br />
            @if (User.IsInRole("Administrator"))
            {
            <a asp-action="Index" class="btn btn-sm btn-secondary">Tilbake</a>
            <a class="btn btn-sm btn-success" asp-action="Update" asp-route-id="@Model.SuggestionId">Endre</a>
            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-@Model.SuggestionId">
                Slett
            </button>
            } else {
            <a asp-action="Index" class="btn btn-sm btn-secondary">Tilbake</a>
            }
            <h1>Forslag</h1>
            <h2>"@Model.SuggestionTitle"</h2>
            @if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Success")
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Message"]
                </div>
                <br />
            }
            else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Danger")
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Message"]
                </div>
                <br />
            }
            else if (TempData["Message"] != null && TempData["Status"] != null && TempData["Status"].ToString() == "Warning")
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["Message"]
                </div>
                <br />
            }
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <u>Sendt inn av:</u>
            <p>@Model.SuggestedFirstname @Model.SuggestedLastname</p>
        </div>

        <div class="col-md-4">
            <u>Innsenders team:</u>
            <p>@Model.TeamName</p>
        </div>

        <div class="col-md-4">
            <u>Ansvarlig for utførelse:</u>
            <p>@Model.ResponsibleFirstname @Model.ResponsibleLastname</p>
        </div>

        
    </div>

    <div class="row">
        <div class="col-md-4">
            <u>Status:</u>
            @if (User.IsInRole("Administrator") || User.IsInRole("Team Leader"))
            {
            <div class="row">
                <div class="col-md-6">
                    <p>@Model.StatusName</p>
                </div>
                <div class="col-md-6">
                    <p><a class="btn btn-sm btn-success" data-toggle="modal" data-target="#edit-status-@Model.SuggestionId">Endre status</a></p>
                </div>
            </div>
            } else {
                <p>@Model.StatusName</p>
            }      
        </div>

        <div class="col-md-4">
            <u>Deadline:</u>
            <p>@Model.SuggestionDeadline</p>
        </div>

        <div class="col-md-4">
        @if (Model.SuggestionEndDate == new DateTime(0001, 01, 01, 0, 0, 0))
            {
                <p></p>
            }
            else
            {
                <u>Fullført:</u>
                <p>@Model.SuggestionEndDate</p>
            }
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (Model.StatusId == 0)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">Forslaget er under vurdering</div>
                </div>
            } else if (Model.StatusId == 1) {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">Forslaget er godkjent</div>
                </div>
            } else if (Model.StatusId == 2) {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Forslaget er avslått</div>
                </div>
            } else if (Model.StatusId == 3) {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">Forslaget gjennomføres</div>
                </div>
            } else if (Model.StatusId == 4) {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">Forslaget er satt på pause</div>
                </div>
            } else if (Model.StatusId == 5) {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Forslaget er ferdig utført</div>
                </div>
            }
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <u>Beskrivelse:</u>
            <p>
            @Model.SuggestionDescription
            </p>
        </div>
    </div>

@if (User.IsInRole("Administrator"))
{
    <div class="modal fade" id="confirm-delete-@Model.SuggestionId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b>Bekreft sletting av forslag</b>
                </div>
                <div class="modal-body">
                    Er du sikker på at du ønsker å slette forslag <b>"@Model.SuggestionTitle"</b>, innsendt av @Model.SuggestedFirstname @Model.SuggestedLastname?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form asp-action="Delete" asp-route-id="@Model.SuggestionId" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-ok">
                            Bekreft sletting
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}  

@if (User.IsInRole("Administrator") || User.IsInRole("Team Leader"))
{
    <div class="modal fade" id="edit-status-@Model.SuggestionId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b>Endre status på forslag</b>
                </div>
                <div class="modal-body">
                    Vennligst velg en status:

                    <form asp-action="UpdateStatus" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input asp-for="SuggestionId" class="form-control" value="@Model.SuggestionId" hidden />
                        </div>

                        <div class="form-group">
                            <label asp-for="StatusId">Status:</label>
                            <select asp-for="StatusId" class="form-control">
                                <option value="0">Under vurdering</option>
                                <option value="1">Godtatt</option>
                                <option value="2">Avslått</option>
                                <option value="3">Pågår</option>
                                <option value="4">På pause</option>
                                <option value="5">Ferdig</option>
                            </select>
                        </div>
                        <br>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn btn-success btn-ok">Lagre</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}